@font-face {
    font-family: 'parryhotter_regular';
    src: url('fonts/parryhotter_regular.eot');
    src: url('fonts/parryhotter_regular.eot') format('embedded-opentype'),
         url('fonts/parryhotter_regular.woff2') format('woff2'),
         url('fonts/parryhotter_regular.woff') format('woff'),
         url('fonts/parryhotter_regular.ttf') format('truetype'),
         url('fonts/parryhotter_regular.svg#parryhotter_regular') format('svg');
}


html, body {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body.homepage{
  background-image: url("try.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Roboto";
  font-size: 14px;
}

.main{
  width: 500px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.logo{
  font-family: 'parryhotter_regular';
  font-weight: lighter;
  color: white;
  font-size: 70px;
  margin-bottom: 15px;
  margin-top: 0;
}

.tagline{
  font-family: 'parryhotter_regular';
  font-weight: lighter;
  color: white;
  font-size: 30px;
}

.button-google{
  background-color: #dd4b39;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.button-google:hover{
  background: white;
  font-weight: bold;
  color: #dd4b39;
}

.button-facebook{
  background-color: #3b5999;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.button-facebook:hover{
  background: white;
  font-weight: bold;
  color: #3b5999;
}

.button-twitter{
  background-color: #55acee;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.button-twitter:hover{
  background: white;
  font-weight: bold;
  color: #55acee;
}


.button-potter{
  background-color: #9b59b6;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.button-potter:hover{
  background: white;
  font-weight: bold;
  color: #9b59b6;
}
/*Jana Gana Mana Adhinayak Jaya He! Bharat Bhagya Vidhata!!!*/

.member-area{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  background-color: #3F51B5;
  color: white;
  font-family: "Roboto";
}

.user-info{
  padding: 10px;
  font-weight: bold;
  border-bottom: solid 2px white;
}

.logout{
  float: right;
  padding: 3px;
}

.logout:hover{
  cursor: pointer;
}

.member{
  padding: 10px;
  border-bottom: solid 1px #CFD8DC;
}

.member:hover{
  cursor: pointer;
  background: #CFD8DC;
  color: #3F51B5;
}

.message-area{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 25%;
  width: 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

.chat-info{
  background-color: #546E7A;
  padding: 10px;
  color: white;
}

.member.active{
  font-weight: bold;
  background-color: #90CAF9;
  color: #3F51B5
}

.member.active:hover{
  cursor:auto;
}

.messages{
  background-color: #90CAF9;
  height: 82%;
  padding: 10px;
  overflow: auto;
}

.message{
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.message-user{
  background-color: #25D366;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.chat-form{
  position: fixed;
  bottom: 0;
  left: 25%;
  width: 75%;
  background: #607D8B;
  padding: 20px;
}

.chat-message{
  padding: 10px;
  border: solid 1px lightgray;
  border-radius: 4px;
  display: block;
  width: 100%;
}
